#welcome-words{
    -fx-font-size: 48px;
    -fx-text-fill: #000b00;
    -fx-alignment: inherit;
}

#welcome{
    -fx-margin-bottom: 50px;
    -fx-font: bolder 30px serif;
    -fx-alignment: inherit;
    -fx-opacity: 1;
    -fx-text-fill: #B8850A;
}

#note{
    -fx-font: bolder 18px serif;
    -fx-margin: 30px 30px 30px 30px;
    -fx-wrap-text: true;
}

.label{
    -fx-font-size:18px;
}

.radio-button{
    -fx-font:italic 18px TimesNR;
}

.button{
    -fx-font-size: 18px;
}

.navigationButton{
    -fx-pref-width: 175px;
    -fx-pref-height: 30px;
    -fx-background-color:#cd5e3c;
    -fx-text-fill: #eaf4fc;
}

.tableButton{
    -fx-background-color: #bed3ca;
    -fx-border-radius: 10px;
}

.funButton{
    -fx-min-height: 40px;
    -fx-min-width: 100px;
    -fx-border-radius: 10px;
    -fx-background-color: #ffa631;
}

.funText{
     -fx-margin: 25px 0 50px 0px;
     -fx-font-size:40px;
     -fx-font-family:Cursive;
}

.text-field{
    -fx-width: 150px;
    -fx-height: 40px;
    -fx-font-size: 16px;
    -fx-background-color: #f8f4e6;
}

.text-area{
    -fx-font-size: 16px;
    -fx-background-color: #edd3a1;
    -fx-color-label-visible: true;
    -fx-border-style: none;
}

.combo-box{
    -fx-font-size: 16px;
    -fx-background-color: #f8f4e6;
}

.scroll-pane{
    -fx-opacity: 0.7;
    -fx-border-style: none;
}





